<htm>
    <head>
    <title>Express.js</title>
    </head>
    <body>
        <form method="post" action="/">
            <input name="city" type="text" />
            <input type="submit" />
        </form>
        <% if(weather !== null){ %>
            <p><%= weather %></p>
          <% } %>

    </body>

</htm>